
<style>
    @import '../layouts/style.css';
  </style>


<!DOCTYPE html>
<html>
    <head>
        <title>eveindex</title>
        <link rel="icon" href="../../public/icon.png" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href='../layouts/style.css'>
        <!-- <link rel="stylesheet" href="https://unpkg.com/98.css" /> -->
    </head>
    <body>
        <!-- <header>
            <div class="banner">
                <h1>Welcome to EvE Index!</h1>
            </div>

        </header> -->
        <nav class="title-bar">
            <ul class="window-body">
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">TOOLS</a></li>
                <li><a href="#">ARCHIVES</a></li>
                <li><a href="#">H.E.L.I.O.S</a></li>
            </ul>
        </nav>
        <main class="window" style="color: white;">
            <h1 class="center">Welcome to EvE Index!</h1>
            <div style="text-align:center;">
                <img src="../../public/indexwip.jpg" style="max-width:50%; height:auto;">
            </div>
            <p class="center" style="font-size: 10px">IMAGE IS PLACEHOLDER</p>
            <h2 class="center">Who are we?:</h2>
            <p style="font-size: 15px" class="center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Sagittis orci a scelerisque purus semper eget duis.
                Blandit cursus risus at ultrices mi tempus imperdiet nulla.
                Convallis convallis tellus id interdum velit laoreet id.
                Neque egestas congue quisque egestas diam in arcu. Fermentum et sollicitudin ac orci.
                Massa placerat duis ultricies lacus. Massa tincidunt nunc pulvinar sapien et ligula.
                Purus in massa tempor nec feugiat nisl pretium. Et ultrices neque ornare aenean.
                In hac habitasse platea dictumst quisque sagittis purus sit.
                Fusce ut placerat orci nulla pellentesque dignissim. Arcu dictum varius duis at.
            </p>
            <ul>
                <li><a href="#">Who are we?</a></li>
                <li><a href="#">Why are we?</a></li>
                <li><a href="#">What are we?</a></li>
            </ul>
            <h2 class="center">Why are we?</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Sagittis orci a scelerisque purus semper eget duis.
                Blandit cursus risus at ultrices mi tempus imperdiet nulla.
                Convallis convallis tellus id interdum velit laoreet id.
                Neque egestas congue quisque egestas diam in arcu. Fermentum et sollicitudin ac orci.
                Massa placerat duis ultricies lacus. Massa tincidunt nunc pulvinar sapien et ligula.
                Purus in massa tempor nec feugiat nisl pretium. Et ultrices neque ornare aenean.
                In hac habitasse platea dictumst quisque sagittis purus sit.
                Fusce ut placerat orci nulla pellentesque dignissim. Arcu dictum varius duis at.
            </p>
            <br>
            <h2 class="center">What are we?</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Sagittis orci a scelerisque purus semper eget duis.
                Blandit cursus risus at ultrices mi tempus imperdiet nulla.
                Convallis convallis tellus id interdum velit laoreet id.
                Neque egestas congue quisque egestas diam in arcu. Fermentum et sollicitudin ac orci.
                Massa placerat duis ultricies lacus. Massa tincidunt nunc pulvinar sapien et ligula.
                Purus in massa tempor nec feugiat nisl pretium. Et ultrices neque ornare aenean.
                In hac habitasse platea dictumst quisque sagittis purus sit.
                Fusce ut placerat orci nulla pellentesque dignissim. Arcu dictum varius duis at.
            </p>
            <ul>
                <li><a href="#">DISCORD</a></li>
                <li><a href="#">GitHub</a></li>
                <li><a href="#">Lorum Ipsum</a></li>
            </ul>
        </main>
        <footer>
            <p>&copy; 2023 EvEIndex</p>
        </footer>
    </body>
</html>