<style>
    @import '../layouts/legal.css';
</style>

<astro>
    <head>
        <title> LEGAL & DISCLAIMER</title>
        <link rel="icon" href="../../public/icon.png" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href='../layouts/legal.css'>
    </head>
    <body>
        <nav class="title-bar">
            <ul class="window-body">
                <li><a href="#" rel="prefetch">ABOUT</a></li>
                <li><a href="#" rel="prefetch">TOOLS</a></li>
                <li><a href="#" rel="prefetch">ARCHIVES</a></li>
                <li><a href="#" rel="prefetch">H.E.L.I.O.S</a></li>
            </ul>
        </nav>

        <!--    Main here   -->

        <main>
            <h1 class="disclaimer">DISCLAIMER & LEGAL</h1>
            <hr>
            <h3 class="copyright">CCP COPYRIGHT</h3>
            <br>
            <p class="legal">
                EVE online and the EVE logo are the registered trademarks of CCP hf.
                All rights are reserved worldwide. All other trademarks are the property
                of their respective owners. EVE online, the EVE logo, EVE and all 
                assosciated logos and designs are the  intellectual property of CCP hf.
                All artworks, screenshots, characters, vehicles, storylines, world facts
                or other recognizable features of the intellectual property relating to
                these trademarks are likewise the intellectual property of CCP hf.
                CCP hf has granted permissions to eveindex.com to use EVE online
                and all assosciated logos and designs for promotional and information purposes
                on its website but does not endorse, and is not in any way, affiliated with,
                eveindex.com. CCP is in no way responsible for the content on or functioning on
                this website, nor can it be liable for any damage arising from the use of this
                website.
            </p>
            <hr>
            <h3 class="priv">PRIVACY POLICY</h3>
            <p class="legal">
                place holder text and what not
            </p>
        </main>

        <footer>
            <p>&copy; 2023 EvEIndex</p>
        </footer>
    </body>
</astro>